<html>
    <head>
    </head>
    <body>
        <button id="hello-button">Hello!</button>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/s2.js"></script>
    <script>
         $(document).ready(function() {
             $('#hello-button').click(function() {
                 // $.post("/unhashs2", {hashs2: '0f022022'}, function(data) {
                 //    alert(data);
                 // });
                alert("OK");
             })
         })
    </script>
</html>
